# BASIC

## Solution for problem 1.

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## solution for problem 2.

In [3]:
lst = list(range(10))
sm = 0
for i in lst:
    sm += i
sm

45

## solution for problem 3.

In [4]:
string = "Hello world"
for i in string[::-1]:
    print(i)

d
l
r
o
w

o
l
l
e
H

## solution for problem 4.

In [6]:
num = int(input("Enter a number"))
factorial = 1
for i in range(1, num+1):
    factorial *= i
factorial

Enter a number 5

120

## solution for problem 5.

In [7]:
num = int(input("Enter a number"))
for i in range(1, 11):
    print(num * i)

Enter a number 15

15
30
45
60
75
90
105
120
135
150

## solution for problem 6.

In [8]:
lst = list(range(10, 100))
even, odd = 0, 0
for i in lst:
    if i % 2 == 0:
        even += 1
    else:
        odd += 1
print(f"even numbers are {even}")
print(f"odd numbers are {odd}")

even numbers are 45
odd numbers are 45

## solution for problem 7.

In [9]:
for i in range(1, 6):
    print(i*i)

1
4
9
16
25

## solution for problem 8.

In [10]:
input_string = input("Enter a string")
length = 0
for _ in input_string:
    length += 1
print(f"length of the given string is {length}")

Enter a string Hello world

length of the given string is 11

## solution for problem 9.

In [12]:
lst = list(range(2, 100, 3))
avg = 0
for i in lst:
    avg += i
print(lst)
print(f"average of the list is {avg/len(lst)}")

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]
average of the list is 50.0

## solution of problem 10.

In [20]:
num = int(input("Enter a number"))
prev, nxt = 0, 1
print(prev)
print(nxt)
for _ in range(num-2):
    temp = prev + nxt
    prev = nxt
    nxt = temp
    print(temp)

Enter a number 10

0
1
1
2
3
5
8
13
21
34

# INTERMEDIATE LEVEL

## solution for problem 11.

In [25]:
lst = [2, 5, 3, 2, 4, 5, 5, 3, 9, 9]
lst.sort()
flag = False
for i in range(len(lst)-1):
    if lst[i+1] == lst[i]:
        flag = True
        break
if flag:
    print("Yes list contains the duplicate")
else:
    print("No list does not contains the duplicate")

Yes list contains the duplicate

## solution for problem 12.

In [32]:
import math

num = int(input("Enter a number"))
lst = [0]*(num+1)
for i in range(2, int(math.sqrt(num))+1):
    j = i
    while j+i < len(lst):
        j += i
        lst[j] = True
for i in range(1, len(lst)):
    if lst[i] == 0:
        print(i, end=" ")

Enter a number 100

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

## solution for problem 13.

In [33]:
string = input("Enter the string")
vowels = "aeiouAEIOU"
count = 0
for i in string:
    if i in vowels:
        count += 1
print(f"count of vowels in given string is {count}")

Enter the string hello World AbceE

count of vowels in given string is 6

## solution for problem 14.

In [34]:
list_2D = [
            [1, 2, 4, 7, 8],
            [12, 76, 93, 11, 26],
            [12, 37, 73, 88, 76],
          ]
mx = -100000
for i in list_2D:
    for j in i:
        mx = max(mx, j)
print(f"maximum element in the given 2D list is {mx}")

maximum element in the given 2D list is 93

## solution for problem 15.

In [42]:
original_list = [1, 2, 3, 2, 4, 5, 2]
element_to_remove = 2
new_list = []
for item in original_list:
    if item != element_to_remove:
        new_list.append(item)
print(f"list after removing the specific element is {new_list}")

list after removing the specific element is [1, 3, 4, 5]

## solution for problem 16.

In [43]:
for i in range(1, 6):
    print(f"table of {i} :", end=" ")
    for j in range(1, 11):
        print(i*j, end=" ")
    print()

table of 1 : 1 2 3 4 5 6 7 8 9 10
table of 2 : 2 4 6 8 10 12 14 16 18 20
table of 3 : 3 6 9 12 15 18 21 24 27 30
table of 4 : 4 8 12 16 20 24 28 32 36 40
table of 5 : 5 10 15 20 25 30 35 40 45 50

## solution for problem 17.

In [45]:
fahrenheit_temperatures = [32, 68, 86, 104, 212]
celsius_list = []
for temp in fahrenheit_temperatures:
    celsius = (temp - 32) * 5/9
    celsius_list.append(celsius)
celsius_list

[0.0, 20.0, 30.0, 40.0, 100.0]

## solution for problem 18.

In [46]:
list1 = list(range(2, 30, 2))
list2 = list(range(3, 40, 3))
common = []
for i in list1:
    if i in list2:
        common.append(i)
print(f"list1: {list1}")
print(f"list2: {list2}")
print(f"common elements: {common}")

list1: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
list2: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]
common elements: [6, 12, 18, 24]

## solutuon for problem 19.

In [48]:
num = int(input("Enter a number"))
for i in range(num):
    for _ in range(i+1):
        print("*", end="")
    print()

Enter a number 5

*
**
***
****
*****

## solution for problem 20.

In [54]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
larger = max(num1, num2)
shorter = min(num1, num2)
while(shorter):
    temp = larger
    larger = shorter
    shorter = temp % shorter
print(f"GCD of {num1} & {num2} is {larger}")

enter first number 36
enter second number 48

GCD of 36 & 48 is 12

# ADVANCE LEVEL

## solution for problem 21.

In [3]:
lst = [123, 43, 553, 884]
lst2 = [sum(int(digit) for digit in str(i)) for i in lst]
lst2

[6, 7, 13, 20]

## solution for problem 22.

In [10]:
num = int(input("Enter a number"))
factors = [i for i in range(1, num + 1) if num % i == 0]
factors

Enter a number 100

[1, 2, 4, 5, 10, 20, 25, 50, 100]

## solution for problem 23.

In [11]:
lst = ['hello', '@', 'world', '%', '$']
lst2 = [i for i in lst if i.isalnum() == False]
lst2

['@', '%', '$']

## solution for problem 24.

In [16]:
lst = [i for i in range(10, 200) if str(i) == str(i)[::-1]]
lst

[11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 99,
 101,
 111,
 121,
 131,
 141,
 151,
 161,
 171,
 181,
 191]

## solution for problem 25.

In [31]:
def flatten(nested):
    return [element for sublist in nested for element in (flatten(sublist) if isinstance(sublist, list) else [sublist])]
lst = [[1, 2, 3], [4, 5], [6], [7, [8, [9]], 10]]
# lst2 = [el for sublist in lst for el in sublist]
lst2 = flatten(lst)
lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## solution for problem 26.

In [39]:
lst = list(range(1, 11))
even_sum = sum(x for x in lst if x % 2 == 0)
odd_sum = sum(x for x in lst if x % 2 != 0)
print(lst)
print(f"sum of even numbers in the list is {even_sum} ans sum of odd numbers in the given list is {odd_sum}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum of even numbers in the list is 30 ans sum of odd numbers in the given list is 25

## solution for problem 27.

In [41]:
lst = [i*i for i in range(1, 11) if i%2 != 0]
lst

[1, 9, 25, 49, 81]

## solution for problem 28.

In [43]:
list1 = ["key1", "key2", "key3", "key4"]
list2 = ["value1", "value2", "value3", "value4"]

combined_dict = {list1[i]: list2[i] for i in range(len(list1))}
combined_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

## solution for problem 29.

In [45]:
string = "Hello World, I am Arun Kumar"
list_of_vowels = [i for i in string if i in "aeiouAEIOU"]
list_of_vowels

['e', 'o', 'o', 'I', 'a', 'A', 'u', 'u', 'a']

## solution for problem 30.

In [50]:
lst = ["ab12cd", "34af", "sa42sa34", "s43k490"]
list2 = [''.join(c for c in string if c.isdigit()) for string in lst]
list2

['12', '34', '4234', '43490']

# CHALLENGE LEVEL

## solution for problem 31.

In [54]:
num = int(input("ENter a value"))
prime = [True] * (num + 1)
prime[0], prime[1] = False, False

for i in range(2, int(num ** 0.5) + 1):
    if prime[i]:
        prime[i*i: num + 1: i] = [False] * len(prime[i*i: num + 1: i])
prime_numbers = [i for i in range(num+1) if prime[i]]
prime_numbers

ENter a value 50

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

# solution for problem 32.

In [55]:
num = int(input("ENter a value"))
lst = [(a, b, c) for a in range(1, num+1) for b in range(a, num+1) for c in range(b, num+1) if a*a + b*b == c*c]
lst

ENter a value 20

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

## solution for problem 33.

In [56]:
list1 = [1, 4, 2, 15, 12, 342]
list2 = ["ad", "dsfg", "re" , "Sf"]
comb = [[x, y] for x in list1 for y in list2]
comb

[[1, 'ad'],
 [1, 'dsfg'],
 [1, 're'],
 [1, 'Sf'],
 [4, 'ad'],
 [4, 'dsfg'],
 [4, 're'],
 [4, 'Sf'],
 [2, 'ad'],
 [2, 'dsfg'],
 [2, 're'],
 [2, 'Sf'],
 [15, 'ad'],
 [15, 'dsfg'],
 [15, 're'],
 [15, 'Sf'],
 [12, 'ad'],
 [12, 'dsfg'],
 [12, 're'],
 [12, 'Sf'],
 [342, 'ad'],
 [342, 'dsfg'],
 [342, 're'],
 [342, 'Sf']]

## solution for problem 34.

In [62]:
lst = [2, 4, 4, 1, 5, 6, 35, 5, 3, 2, 6, 3, 3, 543, 3, 7]
mean = sum(x for x in lst) / len(lst)
lst.sort()
length = len(lst)
median = [lst[length // 2] if length % 2 != 0 else (lst[length // 2 - 1] + lst[length // 2]) // 2]
mode = max((lst.count(num), num) for num in set(lst))[1]
print(f"mean: {mean}")
print(f"median: {median}")
print(f"mode: {mode}")

mean: 39.5
median: [4]
mode: 3

## solution for problem 35.

In [65]:
num_rows = int(input("Enter a number"))
triangle = [[1] * (i + 1) for i in range(num_rows)]   
for i in range(2, num_rows):
    for j in range(1, i):
        triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
for row in triangle:
    print(" ".join(map(str, row)).center(len(" ".join(map(str, triangle[-1])))))

Enter a number 10

             1
            1 1
           1 2 1
          1 3 3 1
         1 4 6 4 1
       1 5 10 10 5 1
      1 6 15 20 15 6 1
    1 7 21 35 35 21 7 1
   1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1

## solution for problem 36.

In [69]:
import math
fact = [math.factorial(i) for i in range(1, 6)]
sum_of_factorial_digits = [sum(int(c) for c in str(math.factorial(i))) for i in range(1, 6)]
print("factorial list: ", fact)
print("sum of digits of factorial list: ", sum_of_factorial_digits)

factorial list:  [1, 2, 6, 24, 120]
sum of digits of factorial list:  [1, 2, 6, 6, 3]

## solution for problem 37.

In [79]:
sentnece = "This is my first course at PWskills"
longest = max((word for word in sentnece.split()), key=len)
longest

'PWskills'

## solution for problem 38.

In [81]:
lst = ["Heelloo", "world", "oooo", "adf", "asdf"]
filtered = [c for c in lst if sum(1 for i in c if i in "aeiouAEIOU") > 3]
filtered

['Heelloo', 'oooo']

## solution for problem 39.

In [83]:
lst = [sum(int(c) for c in str(i)) for i in range(1, 1001)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

## solution for problem 40.

In [85]:
lst = [i for i in range(10, 1000) if i % 2 != 0 and str(i) == str(i)[::-1]]
print(lst)

[11, 33, 55, 77, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]